<% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close unstyled-button" data-bs-dismiss="alert" aria-label="Close">×</button>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human)
       %>
      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
